body {
  background-color: #ccc
}

#cloud {
  /* Size */
  width: 305px;
  height: 120px;
  /* Achtergrond-gradient */
  background: #f2f9fe;
  background: linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
  background: -webkit-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
  background: -moz-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
  background: -ms-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
  background: -o-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
  /* Afronden */
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  /* Positie */
  position: relative;
  margin: 120px auto 20px;
}
